html {
  font-size: 1.2em;
}
body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
p,
blockquote {
  color: #111;
  font-family: "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a,
a:link,
a:visited {
  color: dodgerblue;
}

#bigPhoto {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: top center / cover no-repeat url("./i/Background Placeholder.png");
}

header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 20px;
  margin-top: 2rem;
  height: 400px;
}
header > * {
  margin: 0;
  text-align: center;
}
header > h1 {
  font-size: 2.2rem;
}
header > aside {
  font-size: 1.4rem;
  color: #444;
  font-weight: normal;
}

main {
  margin: 0 auto;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main article:last-of-type {
  border-bottom-left-radius: 1rem;
}

article.introduction {
  background-color: rgba(246, 246, 246, 0.95);
  padding: 0.8rem;
  font-size: 1.3rem;
  line-height: 2.4rem;
  border-top-right-radius: 1rem;
}

section {
  margin: 0 0 2rem 0;
}
article {
  background-color: rgba(246, 246, 246, 0.95);
  padding: 0.8rem;
}
article p {
  margin: 1rem 0 1rem 0;
}

footer {
  background: rgba(111, 111, 111, 0.4);
  padding: 0.8rem;
  font-size: 0.3rem;
}
footer p {
  font-size: 0.6rem;
  color: #222;
}
footer a {
  text-decoration: none;
  color: #333;
}

img {
  border-radius: 4px;
  width: 100%;
  height: auto;
  max-width: min-content;
  max-height: 400px;
}

.paypal {
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.if-lg {
  display: none;
}
.lightweight {
  font-family: "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }
  article.introduction {
    padding: 2rem;
  }
  article {
    padding: 2rem;
  }
  footer {
    padding: 1rem 2rem;
  }
  img.pastor {
    padding: 0 0 0 10px;
  }
  .if-lg {
    display: inline;
  }
}
